html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    background-color: #006d77;
}

    .navbar .nav-link {
        color: #006d77 !important;
    }

    .navbar .navbar-brand {
        color: #006d77 !important;
    }

    .navbar .nav-link:hover {
        color: #006d77 !important;  
    }

    .navbar .navbar-toggler-icon {
        filter: invert(1);
    }