@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole> 

@{
    ViewData["Title"] = "Roles";
}

<h1>Roller</h1>
<p>
    <a asp-action="Create">Opret roller</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
        
            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Id) </td>
                <td>@Html.DisplayFor(model => item.Name) </td>

            </tr>
        }
    </tbody>
</table>