@model WebHousingAssociation.Models.ViewModels.CombinedViewModel

@{
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <!-- Front page image -->
        <div class="col-md-12 mt-4">
            <img src="@Model.ThemeViewModel.Image" alt="Home Image" class="img-fluid" style="width: 100%; height: auto;">
        </div>
    </div>

    <!-- Menu Boxes -->
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="menu-container">
                <div class="card custom-box" onclick="location.href='side1.html';">
                    <div class="card-body">
                        <h3 class="card-title">Dokumenter</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="menu-container">
                <div class="card custom-box" onclick="location.href='side2.html';">
                    <div class="card-body">
                        <h3 class="card-title">Senest nyt</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="menu-container">
                <div class="card custom-box" onclick="location.href='@Url.Action("Create", "Booking")';">
                    <div class="card-body">
                        <h3 class="card-title">Booking</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>