@{
    Layout = Layout;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beboer Menu</title>
    <link rel="stylesheet" href="site.css"> 
</head>
<body>
    <div class="container mt-6" style="margin-top: 100px;">
        <h2>Vælg en opgave</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Foretag en booking</h5>
                        <p class="card-text">Her kan du foretage en booking for diverse services.</p>
                        <a href="#" class="btn custom-button">Gå til booking</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Læse dokumenter</h5>
                        <p class="card-text">Her kan du læse diverse dokumenter relateret til din boligforening.</p>
                        <a href="#" class="btn custom-button">Gå til dokumenter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>